name: Deploy Backend to Render
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**' # Chỉ chạy khi có thay đổi ở thư mục backend

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Gửi lệnh Deploy tới Render
        run: curl -X POST "${{ secrets.RENDER_HOOK }}"
